# Visual Studio
.vs/
*.user
*.suo

# .NET
**/bin/
**/obj/

# Logs
**/Logs/*
!**/Logs/.gitkeep

# Archivos temporales
**/Temp/
*.tmp

# Imagenes subidas al Gateway
WhatsAppGateway/wwwroot/imagenes/*

# Archivos del sistema
.DS_Store
Thumbs.db